NET "en_clock" LOC = U9;
NET "clock_adjust" LOC = U8;
NET "clock_alarm_en" LOC = R7;
NET "clock_alarm_set" LOC = R6;
NET "min_hour_set" LOC = R5;
NET "alarm_adjust_disp" LOC = V7;
NET "cr" LOC = V6;
NET "day_night" LOC = V5;
NET "seg[0]" LOC = L3;
NET "seg[1]" LOC = N1;
NET "seg[2]" LOC = L5;
NET "seg[3]" LOC = L4;
NET "seg[4]" LOC = K3;
NET "seg[5]" LOC = M2;
NET "seg[6]" LOC = L6;
NET "pos[0]" LOC = N6;
NET "pos[1]" LOC = M6;
NET "pos[2]" LOC = M3;
NET "pos[3]" LOC = N5;
NET "pos[4]" LOC = N2;
NET "pos[5]" LOC = N4;
NET "pos[6]" LOC = L1;
NET "pos[7]" LOC = M1;
NET "alarm" LOC = T8;
NET "day" LOC = V9;
NET "clk_100m" LOC = E3;
NET "clk_100m" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%;